body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 65rem;
  margin: 0;
}

.section {
  margin: 0 auto;
  padding: 1rem;
}

img {
  max-width: 100%;
}


.grid__city {
    display: flex;
    flex-wrap: wrap;
}

/*Photos*/

.grid__item__city {
  margin: 0 auto;
   flex-basis: calc(100% / 2 - 1rem - 1rem);
   flex-grow: 1;
   flex-direction: row;
   display: flex;
   //background: purple;
   align-items: center;
   justify-content: space-around;
   padding: 1rem;
}

.photo__one {
  display: flex;
}

.photo__two {
  display: flex;
}

.photo__three {
  display: flex;
}

.photo__four {
  display: flex;
}
