


.footer {
padding: 3rem;
background: #050505 no-repeat center center fixed;
background-size: cover;
margin: 0;

&__nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 0;
  align-items: center;
}
}

.social__icons {
      max-width: 5rem;
      align-items: center;
}
