
.grid {
  display: flex;
    flex-wrap: wrap;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-around;
}

.page__headline {
  //font-style:
  font-size: 2rem;
  text-align: center;
  flex-direction: row;
}

.row {
  margin: 0 auto;
  padding: 1rem;
  background: purple;
  flex-direction: row;
  //justify-content: space-around;
  flex-basis: calc(100%/ 3 - 1rem - 1rem);
  position: absolute;
}

.lesson__headline {
  font-style: fixedsys;
  font-size: 1.5rem;
  color: black;

  &__paragraph {
    display: flex;
    //justify-content: space-around;
    align-items: center;
    margin: 1rem;
    float: left;
  }
}

.right__item {
        display: flex;
        margin: 1rem;
        align-items: center;
        //justify-content: space-around;
        align-items: center;
        position: relative;
      }

//.lesson__pic {
//  display: flex;
//}
