
.grid {
    display: flex;
    flex-wrap: wrap;
}

.main-body {
  display: flex;
  padding: 1rem;
}

.page__headline {
  font-style: italic;
  font-size: 2rem;
  color: green;
  text-align: center;
  flex-direction: row;
}

.column__left {
  margin: 1rem;
  padding: 1rem;
  flex-basis: calc(100%/ 2);
  background: purple;
  flex-direction: row;
  justify-content: space-between;
}


.lesson__headline {
  font-style: italic;
  font-size: 1rem;
  color: red;

}



  /*&__row {
  flex-basis: calc(100% / 3 - 1rem - 1rem);
   flex-grow: 1;
  margin: 1rem;
  flex-direction: column;

    &__content {
    display: flex;
    border: black;
    &__header {}

    &__paragraph {}
  }

    &__pic {
    justify-content: space-around;}
}
*/
